html {
	color: #fff;
	scroll-behavior: smooth;
}

body {
	font-family: "Poppins", sans-serif;
	margin: 0 auto;
	max-width: 1440px;
	overflow-x: hidden;
	position: relative;
}

body::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url("../imagens/portfolio_background.png") no-repeat center center;
	background-size: cover;
	opacity: .95;
	z-index: -1;
}

.rodape {
	background-color: #040027;
	color: #fff;
	text-align: center;
	padding: 10px 10px;

	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	width: 100vw;
	box-sizing: border-box;
}

.rodape p {
	margin: 0 0 1px;
}

.cabecalho {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 15px;
}

.cabecalho .logo {
	width: 65px;
	height: 65px;
	border-radius: 50%;
	border: 2px solid #040027;
	text-align: center;
	line-height: 55px;
	font-family: "Raleway", sans-serif;
	transition: 0.9s;
}

.cabecalho a:hover .logo {
	color: #040027;
	border: 2px solid #040027;
}

.cabecalho .menu li a {
	font-size: 20px;
	text-transform: capitalize;
	padding: 10px 20px;
	transition: 0.9s;
}

.cabecalho .menu li a:hover {
    color: #040027;
    border: 2px solid #040027;
    transition: 0.9s;
	border-radius: 50px;
}

.home {
	display: flex;
	min-height: calc(100vh - 125px);
	align-items: center;
	gap: 50px;
	justify-content: space-between;
}

.home .informacoes {
	display: flex;
	flex-direction: column;
	gap: 15px;
	letter-spacing: 2px;
	padding: 0 15px;
	max-width: 50%;
}

.home .informacoes h1 {
	font-family: "Raleway", sans-serif;
	font-size: 45px;
	margin-bottom: 20px;
}

.home .informacoes p {
	font-family: "Raleway", sans-serif;
	font-size: 24px;
	margin-bottom: 20px;
}

.home .sobre {
	display: flex;
	flex-direction: column;
	gap: 15px;
	letter-spacing: 2px;
	padding: 0 15px;
	max-width: 100%;
}

.home .sobre h1 {
	font-family: "Raleway", sans-serif;
	font-size: 45px;
	margin-bottom: 20px;
}

.home .sobre p {
	font-family: "Raleway", sans-serif;
	font-size: 24px;
	margin-bottom: 20px;
}

.home .redes-sociais {
	display: flex;
	gap: 15px;
}

.home .redes-sociais a i {
	border: 1px solid #040027;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	padding: 10px;
	text-align: right;
	font-size: 28px;
	transition: 0.9s;
}

.home .redes-sociais a i:hover {
	color: #040027;
	border: 1px solid #040027;
	transform: scale(1.0);
}

.home .container-foto .foto {
	max-width: 380px;
	border-radius: 50%;
}

.home .container-foto img {
	width: 100%;
	border-radius: 50%;
}

.home .foto.sombra-interna {
	background: linear-gradient(to right, #080438, #fff);
	background-size: 180% 180%;
	animation: gradient-animation 5s ease infinite;
}

.projetos {
	padding: 0 0 20px;
}

.projetos .titulo {
	text-align: center;
	padding: 35px 0;
	font-size: 45px;
	font-weight: 500;
	text-transform: uppercase;
}

.projetos .container-projetos {
	display: flex;
	gap: 100px;
	flex-wrap: wrap;
	margin-bottom: 40px;
	justify-content: center;
}

.projetos .projeto {
	max-width: 500px;
	max-height: 325px;
	position: relative;
	display: flex;
	flex-direction: column;
}

.projetos .projeto img {
	height: 100%;
	object-fit: fill;
}

.projetos .projetos-ocultos {
	position: relative;
	display: flex;
	gap: 100px;
	flex-wrap: wrap;
	margin-bottom: 10px;
	justify-content: center;
}

.projetos .projetos-ocultos img {
	height: 100%;
	object-fit: fill;
}

.projetos .projeto h3 {
	background-color: #040027;
    color: #fff;
	width: 100%;
	padding-left: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	position: absolute;
	bottom: 0;
}

.projetos .projeto .informacoes-projeto {
	background-color: #040027;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	font-weight: 600;
	opacity: 0;
	transition: 0.9s;
	padding: 20px;
}

.projetos .container-projetos .projeto:hover .informacoes-projeto {
	opacity: 0.9;
	background-color: #040027;
}

.projetos .btn-mostrar-projetos {
	background: none;
	border: 1px solid #fff;
	border-radius: 50px;
	color: #fff;
	width: 180px;
	padding: 20px;
	font-size: 18px;
	font-weight: 600;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.projetos .btn-mostrar-projetos:hover {
    color: #040027;
	border: 1px solid #040027;
	transition: 0.9s;
}

.projetos .btn-mostrar-projetos.remover {
	display: none;
}


@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}