@media(max-width: 1280px) {

	.cabecalho {
		padding: 20px 15px;
		flex-direction: column;
		gap: 15px;
	}

	.home {
		flex-direction: column;
		align-items: center;
		margin: 50px 0;
		gap: 30px;
		min-height: auto;
	}

	.home .informacoes,
	.home .sobre {
		max-width: 100%;
		text-align: center;
		align-items: center;
	}

	.projetos .container-projetos {
		padding: 0 20px;
	}
}

@media(max-width: 768px) {

	.projetos .container-projetos,
	.projetos .projetos-ocultos {
		flex-direction: column;
		gap: 25px;
	}

	.projetos .projeto {
		max-width: 100%;
	}

	.home .container-foto img {
		max-width: 250px;
	}

	.home .informacoes h1,
	.home .sobre h1 {
		font-size: 25px;
	}

	.home .informacoes p,
	.home .sobre p {
		font-size: 14px;
	}

	.projetos .titulo {
		font-size: 30px;
	}
}

@media(max-width: 405px) {

	.home .informacoes h1,
	.home .sobre h1 {
		font-size: 20px;
	}

	.home .informacoes p,
	.home .sobre p {
		font-size: 10px;
	}

	.home .container-foto img {
		max-width: 180px;
		max-height: 180px;
	}

	.projetos {
		padding: 25px;
	}
}

